@model Web.Data.Course

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleEng" class="control-label"></label>
                <input asp-for="TitleEng" class="form-control" />
                <span asp-validation-for="TitleEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleFre" class="control-label"></label>
                <input asp-for="TitleFre" class="form-control" />
                <span asp-validation-for="TitleFre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescEng" class="control-label"></label>
                <input asp-for="DescEng" class="form-control" />
                <span asp-validation-for="DescEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescFre" class="control-label"></label>
                <input asp-for="DescFre" class="form-control" />
                <span asp-validation-for="DescFre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LangEng" class="control-label"></label>
                <input asp-for="LangEng" class="form-control" />
                <span asp-validation-for="LangEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LangFre" class="control-label"></label>
                <input asp-for="LangFre" class="form-control" />
                <span asp-validation-for="LangFre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="department" class="control-label"></label>
                <input asp-for="department" class="form-control" />
                <span asp-validation-for="department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="discipline" class="control-label"></label>
                <input asp-for="discipline" class="form-control" />
                <span asp-validation-for="discipline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

