@page
@model Admin.Pages.Disciplines.IndexModel
@inject Admin.Data.FormattingService Formatter

@{
    ViewData["Title"] = "Disciplines";
    ViewData["HideBodyOverflow"] = false;
}
<h1>Disciplines <span class="glyphicon glyphicon-save-file pull-right index-save-file-icon" onclick="print()"></span></h1>
<p class="space-btns hide-in-print">
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>

<div id="table-container" style="max-height: @(Model.LastTableContainerHeight)px; height: @(Model.LastTableContainerHeight)px">
    <table class="table">
        <thead>
            <tr class="table-header-row text-center">
                <th>Dsiciplines ENG</th>
                <th>Dsiciplines FRE</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disc in Model.Discs)
            {
                <tr>
                    <td>@disc.NameEng</td>
                    <td>@disc.NameFre</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="medium-margin-top">
    <a href="/Disciplines/Create" class="btn btn-primary">Ceate new discipline</a>
</div>
